doctype html(lang='en')
head
    meta(name='google-site-verification', content='xY5DUNVQ6_N4Dfnxo-SOxesvTaxtRhnybryFDl2Mb20')
    meta(charset='utf-8')
    title Gifti.ly
    meta(name='description', content='Giftily (Gifti.ly) is a card and gift giving recommendation and tracking service')
    meta(name='author', content='David Ramsay')
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../public/stylesheets/normalize.css')
    link(rel='stylesheet', href='../public/stylesheets/skeleton.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')
    
    link(rel='shortcut icon', type='image/x-icon', href='../public/images/favicon.ico')
    meta(name='theme-color', content='#ffffff')
  body(style="padding:50px")
    h1(style="color:#F59826") Thank you, #{firstName}!
    .container(style='padding-top:20px')

    div(style="font-size:0.5em;")
      | Thanks, #{firstName}, for signing up for our pilot.  If you'd like to pay up front, <a href="https://www.paypal.com/cgi-bin/webscr?business=chetan.jhaveri@gmail.com&cmd=_xclick&currency_code=USD&amount=5.00&item_name=Gifti.ly">please click here</a>. 
      | Also, please take a look below and verify that everything looks alright.  If it doesn't, you can <a href="/signup"> go back and fix it</a>, or <a href="mailto:chetan-jhaveri@gmail.com">email us</a>.

    div
      a(class="button primary-button", href="https://www.paypal.com/cgi-bin/webscr?business=chetan.jhaveri@gmail.com&cmd=_xclick&currency_code=USD&amount=5.00&item_name=Gifti.ly" style ="margin-top:20px; margin-right:10px") Pay $5 up front!
      a(class="button primary-button", href="/signup") Go back and fix an Error. 

    div(class='form', style="width:75%; margin-top:15px")
      | name: #{lastName}, #{firstName}
      br
      | email: #{email}
      br
      | address : 
      each i in address 
          if i !== ""
            | #{i} 
      br
      if faddress[0] !== ""
        | father's address : 
        each i in faddress 
          if i !== ""
            | #{i} 